body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-size: 25px;
    width: 25%;
    height: 100%;
    background-color: #45D5AA;
    position: fixed;
}

.nav {
    margin: 0;
    list-style: none;
    text-align: center;
    padding: 0;
    width: 100%;
}

.username {
    margin-bottom: 15px;
}

.nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
}

.nav a {
    text-decoration: none;
    color: #000000;
    
}

.option:hover {
    box-sizing: border-box;
    background-color: #7DFFD8;
    font-weight: bold;
    border-left: 10px solid #066F4F;
}

.main {
    float: right;
    width: 74%;
}

.box-graficos {
    width: 80%;
    margin: auto;
}
.main a {
    text-decoration: none;
    color: #000000;
}

.container {
    display: inline-block;
    flex-direction: row;
    margin: 40px 30px 20px 10px;
    background-color: #6BD5B5;
    border-radius: 5px;
    overflow: auto;
    width: 400px;
    
}


.container:hover {
    box-sizing: border-box;
    background-color: #7DFFD8;
    border-left: 10px solid #066F4F;
}


.container h2 {
    font-size: 20px;
    margin-left: 10px;
    margin: 20px 10px 20px 10px;
}

.data {
    margin: 0 0 10px 10px;
    float: left;
}

.container img { 
    margin: 0 0 0 30px;
}